venv/
__pycache__/
db.sqlite3
node_modules/
.env
env/
*.log
01_Documentacio_General.txt
02_Base_de_Dades.txt
03_Planificacio_Projecte.txt
04_Planificacio_Detallada.txt
05_Analisi_Sprint_1_Assignat.txt
05_Spring2.txt